body {
	align-items: center;
	text-align: center;
	background-image: url("image/FondBleu.png");
  background-color: #023E8A;

}

#center {
	width: 1000px;
	margin: auto;
  background-color: white;
	/*background-color: #90E0EF;*/
	border-radius: 6px;
	font-size: 18px;
	font-family: 'Spline Sans', sans-serif;
}

#title {
	width: 400px;
	margin: auto;
}

/*#place {
	background-color: #90E0EF;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-image: url("image/htBar.png");*/
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Spline Sans', sans-serif; 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #0096C7;
}

.active {
  background-color: #04AA6D;
}